beepy==1.0.7
bitstring==3.1.7
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
future==0.18.2
idna==2.9
kiwisolver==1.2.0
matplotlib==3.3.2
numpy==1.18.4
Pillow==8.0.1
pyOpenBCI==0.13
pyparsing==2.4.7
pyserial==3.4
python-dateutil==2.8.1
requests==2.23.0
scipy==1.5.3
simpleaudio==1.0.4
six==1.15.0
torch==1.5.1
urllib3==1.25.9
xmltodict==0.12.0
